:root {
  --background-color-light: linear-gradient(to right bottom, #e8c6b1 73%, #bd7351 104%);
  --background-color-dark: linear-gradient(to right bottom, #2b2b2b 5%, #838181 150%);
  --background-color-light-list: #ffdcc6;
  --text-color-light: #836952;
  --text-color-dark: #d9d9d9;
  --box-shadow-color-light: #bd7351FF;
  --box-shadow-color-dark: #404040FF;
}

body {
  background: var(--background-color-light);
}

.dark-mode {
  background: var(--background-color-dark);
}

div.list.dark-mode-postagem > ul > li > * {
  background: var(--box-shadow-color-dark);
  color: var(--text-color-dark);
}

div.dark-mode-postagem > ul > li > a > div > div > div.item-title-row > div.item-title,
div.dark-mode-postagem > ul > li > a > div > div > div.item-title-row > div.item-after {
  color: var(--text-color-dark);
}

div.dark-mode-postagem > ul > li > a > div > div > div.item-subtitle,
div.dark-mode-postagem > ul > li > a > div > div > div.item-text {
  color: white;
}

div.list.light-mode-postagem > ul > li > * {
  background: var(--background-color-light-list);
  color: var(--text-color-dark);
}

div.list > ul > li {
  margin: 20px;
}

.view-main {
  overflow-y: auto;
  position: absolute;
}

.menu-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

#framework7-root > div.safe-areas.view.view-main > div.page.home-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: calc(100vw - 160px);
  margin: 80px;
  box-shadow: 17px 20px 6px var(--box-shadow-color-light);
}

#framework7-root > div.safe-areas.view.view-main > div.page.login-page {
  transform: none;
  background-color: var(--f7-page-bg-color);
  box-sizing: initial;
  position: relative;
  left: 0;
  top: 0;
  width: 100vw;
}

#framework7-root > div.safe-areas.view.view-main > div.page.dark-mode {
  box-shadow: 17px 20px 6px var(--box-shadow-color-dark);
}

.margin-top-65 {
  margin-top: 65px;
}

.font-noto {
  font-family: "Noto Serif", serif;
  color: var(--text-color-light);
}

.dark-mode .font-noto {
  color: var(--text-color-dark);
}

.font-noto-large {
  font-size: 70px;
}

.font-noto-medium {
  font-size: 50px;
}

.font-noto-small {
  font-size: 20px;
}

.header-bottom > div {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  width: 100%;
}

.img-rounded {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.link-center {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  width: 100%;
}

.align-center {
  display: flex;
  justify-content: space-evenly;
}

.user-select-none {
  user-select: none;
  pointer-events: none;
}

.insertPostagem {
  margin: 20px;
  padding: 20px;
  width: calc(100% - 80px);
}

.insertTextArea {
  height: 60px;
  overflow-y: auto;
}

.insertPostagem.dark-mode {
  color: white;
}